nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #777;
}

.brand, .links {
    display: flex;
    justify-content: space-around;
    align-items: center;
} 

.brand img {
    width: 30%;
}

.links li {
    margin-right: 1rem;
    list-style: none;
}

.links a {
    padding: 1rem;
}

#add a {
    color: #dec129 
}

#add a:hover {
    background-color: #efefef;
}